{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row galerie">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="{{ asset('documents/images/img-500.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water">

            <img src="{{ asset('documents/images/img-500.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape">
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="{{ asset('documents/images/img-500.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds">

            <img src="{{ asset('documents/images/img-500.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water">
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="{{ asset('documents/images/img-500.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea">

            <img src="{{ asset('documents/images/img-500.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park">
        </div>
    </div>

    <div class="cta">
        <div class="row">
            <div class="col-6 cta_text d-flex flex-column align-items-center justify-content-center p-5">
                <h2 class="cta_title mb-5">Nous vous attendons</h2>
                <p class="cta_text mb-5">Afin d'âtre certain de passer un moment agréable et de profiter au maximum de votre expérience, le chef vous invite à réserver votre table.</p>
                <a href="{{ path('app_reservation') }}" class="btn btn-primary">reservez votre table</a>
            </div>
            <div class="col-6 cta_img">
                <img src="{{ asset('documents/images/img-200.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds">
            </div>
        </div>

        <div class="row">
            <div class="col-6 cta_img">
                <img src="{{ asset('documents/images/img-200.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds">
            </div>
            <div class="col-6 cta_text d-flex flex-column align-items-center justify-content-center p-5">
                <h2 class="cta_title mb-5">Découvrez notre carte</h2>
                <p class="cta_text mb-5">Le chef et son équipe vous propose une carte variée
                    qui s'adapte aux disponibilité
                    saisonnière des produits.
                    Consultez notre carte du moment et retrouvez
                    vos plats favoris.</p>
                <a href="{{ path('app_menu') }}" class="btn btn-primary">Notre carte</a>
            </div>

        </div>

        <div class="row">
            <div class="col-6 cta_text d-flex flex-column align-items-center justify-content-center p-5">
                <h2 class="cta_title mb-5">Créez votre espace</h2>
                <p class="cta_text mb-5">Nous aimons partager avec nos client,
                    et faire en sorte que leur
                    visite chez nous soit un moment privilégié.
                    Créez votre espace sur notre site
                    et personnalisez vos visites dans notre restaurant. </p>
                <a href="{{ path('app_reservation') }}" class="btn btn-primary">créez votre espace</a>
            </div>
            <div class="col-6 cta_img">
                <img src="{{ asset('documents/images/img-200.png') }}" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds">
            </div>
        </div>

    </div>

    <div class="contact row" id="contact">
        <h2>Nous Contacter</h2>
        <div class="col-8 form_contact">
            <span>Formulaire de contact</span>
        </div>
        <div class="col-4 contact_actions">
                <ul class="contact_list">
                    <li class="logo list-unstyled">
                        <img src="{{ asset('documents/images/Logo Resto Orange ECF.png') }}" alt="votre-logo"/>
                    </li>
                    <li class="contact_list_item list-unstyled">
                        <a href="tel:+33622283754">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"></path>
                            </svg>
                            06 22 28 37 54</a>
                    </li>
                    <li class="contact_list_item list-unstyled">
                        <a href="sms:+33622283754">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"></path>
                            </svg>
                            Envoyer un SMS</a>
                    </li>
                    <li class="contact_list_item list-unstyled">
                        <a href="mailto:laignelet.david@gmail.com">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                            </svg>
                            laignelet.david@gmail.com</a>
                    </li>
                    <li class="contact_list_item list-unstyled">
                        <a href="https://goo.gl/maps/xd6p5xTT2Gd558ej9" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            Itinéraire</a>
                    </li>
                </ul>
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2912.6262087858727!2d0.9373142999999999!3d43.11236969999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a8de677b348bef%3A0xbeb1cf77cb327994!2s3%20Pl.%20des%20Templiers%2C%2031260%20Montsaun%C3%A8s!5e0!3m2!1sfr!2sfr!4v1682657728337!5m2!1sfr!2sfr" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </div>
    </div>


</div>
{% endblock %}
