{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container">
    <div class="row galerie mb-md-5 mt-md-5">
        <div class=" col-md-12 mb-4 mb-lg-0 d-flex flex-row hstack gap-3 flex-wrap justify-content-center">
        {% for photo in photos %}
            <div class="photo" data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-custom-class="custom-tooltip"
                 data-bs-title="This top tooltip is themed via CSS variables.">
                <img src="{{ asset('documents/photos/'~photo.fileName ) }}" class="shadow-1-strong rounded mb-4" alt="{{ photo.name }}" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                <span class="hover_photo bg-opacity-50">{{ photo.name }}</span>
            </div>
        {% endfor %}

        </div>
    </div>

    <div class="">
        <div class="row mb-5 mt-55">
            <div class="col-12 col-md-6 cta d-flex flex-column align-items-center justify-content-center p-5">
                <h2 class="cta_title mb-5">Nous vous attendons</h2>
                <p class="cta_text mb-5">Afin d'âtre certain de passer un moment agréable et de profiter au maximum de votre expérience, le chef vous invite à réserver votre table.</p>
                <a href="{{ path('app_reservation') }}" class="btn btn-primary text-light">reservez votre table</a>
            </div>
            <div class="col-12 col-md-6 cta_img">
                <img src="{{ asset('documents/images/reservation-640.jpg') }}" class="w-100 shadow-1-strong rounded" alt="Réservation - Le Quai Antique">
            </div>
        </div>

        <div class="row mb-5 mt-5">
            <div class="col-12 col-md-6 cta_img">
                <img src="{{ asset('documents/images/menu-640.jpg') }}" class="w-100 shadow-1-strong rounded " alt="Notre carte - Le Quai Antique">
            </div>
            <div class="col-12 col-md-6 cta d-flex flex-column align-items-center justify-content-center p-5">
                <h2 class="cta_title mb-5">Découvrez notre carte</h2>
                <p class="cta_text mb-5">Le chef et son équipe vous propose une carte variée
                    qui s'adapte aux disponibilité
                    saisonnière des produits.
                    Consultez notre carte du moment et retrouvez
                    vos plats favoris.</p>
                <a href="{{ path('app_menu') }}" class="btn btn-primary text-light">Notre carte</a>
            </div>

        </div>

        <div class="row mb-5 mt-5">
            <div class="col-12 col-md-6 cta d-flex flex-column align-items-center justify-content-center p-5">
                <h2 class="cta_title mb-5">Créez votre espace</h2>
                <p class="cta_text mb-5">Nous aimons partager avec nos client,
                    et faire en sorte que leur
                    visite chez nous soit un moment privilégié.
                    Créez votre espace sur notre site
                    et personnalisez vos visites dans notre restaurant. </p>
                <a href="{{ path('app_reservation') }}" class="btn btn-primary  text-light">créez votre espace</a>
            </div>
            <div class="col-12 col-md-6 cta_img">
                <img src="{{ asset('documents/images/espace-640.jpg') }}" class="w-100 shadow-1-strong rounded" alt="Votre espace - Le Quai Antique">
            </div>
        </div>

    </div>




</div>



{% endblock %}
